{% extends 'main.html' %}

{% block content %}
  <!-- Main Section -->
  <main class="messagePage my-xl">
    <div class="content-box">
      <div class="message">
        <a class="backButton" href="{% url 'inbox' %}"><i class="im im-angle-left"></i></a>
        <h2 class="message__subject">{{messageSent.subject}}</h4>
          <a href="profile.html" class="message__author">{{messageSent.name}}</a>
          <p class="message__date">{{messageSent.created}}</p>
          <div class="message__body">
            {{messageSent.body|linebreaksbr}}
          </div>
      </div>
    </div>
  </main>
{% endblock content %}